# Create a stochastic block model graph and compare to super Mapper across all sessions

In [1]:
%pylab nbagg

Populating the interactive namespace from numpy and matplotlib

In [3]:
from utils import *

sessions = load_scrubbed(n_sessions=-1, merge=True,
                         apply_tmask=True,apply_rmask=True,
                         rmask_kwds=dict(n=12,minor=False),zscore=False)

splits = get_data_splits(sessions,zscore=True,groupby='day_of_week',groups={2: 'fast', 4: 'fed'})

bestres = 20
bestgain = 8.
overlap = (bestgain - 1) / bestgain

X_fed = splits.fed.X
X_fast = splits.fast.X

majorRSNs = ['Cingulo_opercular','Frontoparietal_1','Somatomotor','Visual_2','DMN',
             'Dorsal_Attention', 'Ventral_Attention', 'Salience', 'Visual_1', 'Medial_Parietal',
             'Parieto_occipital', 'Frontoparietal 2']

majorRSNs = np.sort(majorRSNs)

roi2rsn = np.array(sessions.atlas['data']['network'])
roi2rsn_clean = roi2rsn[np.isin(roi2rsn,majorRSNs)]

df_roi_rsn = pd.DataFrame(0,index=np.arange(roi2rsn_clean.shape[0]),columns=majorRSNs)
for ind,roi in enumerate(roi2rsn_clean):
    df_roi_rsn.loc[ind,roi] = 1

INFO:load_data:load_scrubbed(**{'n_sessions': -1, 'merge': True, 'apply_tmask': True, 'apply_rmask': True, 'rmask_kwds': {'n': 12, 'minor': False}, 'zscore': False})
INFO:load_data:Loading data...
INFO:root:  [+] session: 0, file: sub014.txt
INFO:root:      keeping: 505 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 1, file: sub015.txt
INFO:root:      keeping: 508 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 2, file: sub016.txt
INFO:root:      keeping: 508 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 3, file: sub017.txt
INFO:root:      keeping: 504 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 4, file: sub018.txt
INFO:root:      keeping: 508 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 5, file: sub019.txt
INFO:root:      keeping: 513 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 6, file: sub020.txt
INFO:root:      keeping: 446 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 7, file: sub021.txt
INFO:root:      keeping: 501 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 8, file: sub022.txt
INFO:root:      keeping: 511 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 9, file: sub023.txt
INFO:root:      keeping: 401 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 10, file: sub024.txt
INFO:root:      keeping: 494 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 11, file: sub025.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 12, file: sub026.txt
INFO:root:      keeping: 502 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 13, file: sub027.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 14, file: sub028.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 15, file: sub029.txt
INFO:root:      keeping: 500 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 16, file: sub030.txt
INFO:root:      keeping: 513 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 17, file: sub032.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 18, file: sub035.txt
INFO:root:      keeping: 497 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 19, file: sub036.txt
INFO:root:      keeping: 450 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 20, file: sub037.txt
INFO:root:      keeping: 503 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 21, file: sub038.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 22, file: sub039.txt
INFO:root:      keeping: 517 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 23, file: sub040.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 24, file: sub041.txt
INFO:root:      keeping: 499 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 25, file: sub042.txt
INFO:root:      keeping: 469 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 26, file: sub043.txt
INFO:root:      keeping: 514 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 27, file: sub044.txt
INFO:root:      keeping: 458 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 28, file: sub045.txt
INFO:root:      keeping: 499 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 29, file: sub046.txt
INFO:root:      keeping: 484 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 30, file: sub047.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 31, file: sub048.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 32, file: sub049.txt
INFO:root:      keeping: 475 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 33, file: sub050.txt
INFO:root:      keeping: 503 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 34, file: sub051.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 35, file: sub053.txt
INFO:root:      keeping: 493 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 36, file: sub054.txt
INFO:root:      keeping: 492 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 37, file: sub056.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 38, file: sub057.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 39, file: sub058.txt
INFO:root:      keeping: 511 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 40, file: sub059.txt
INFO:root:      keeping: 511 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 41, file: sub060.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 42, file: sub061.txt
INFO:root:      keeping: 512 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 43, file: sub062.txt
INFO:root:      keeping: 504 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 44, file: sub063.txt
INFO:root:      keeping: 512 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 45, file: sub064.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 46, file: sub065.txt
INFO:root:      keeping: 514 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 47, file: sub066.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 48, file: sub067.txt
INFO:root:      keeping: 499 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 49, file: sub068.txt
INFO:root:      keeping: 507 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 50, file: sub069.txt
INFO:root:      keeping: 497 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 51, file: sub070.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 52, file: sub071.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 53, file: sub072.txt
INFO:root:      keeping: 513 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 54, file: sub073.txt
INFO:root:      keeping: 507 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 55, file: sub074.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 56, file: sub075.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 57, file: sub076.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 58, file: sub077.txt
INFO:root:      keeping: 508 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 59, file: sub078.txt
INFO:root:      keeping: 503 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 60, file: sub079.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 61, file: sub080.txt
INFO:root:      keeping: 514 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 62, file: sub081.txt
INFO:root:      keeping: 488 (time points)

INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 63, file: sub082.txt
INFO:root:      keeping: 502 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 64, file: sub083.txt
INFO:root:      keeping: 482 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 65, file: sub084.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 66, file: sub085.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 67, file: sub086.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 68, file: sub087.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 69, file: sub088.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 70, file: sub089.txt
INFO:root:      keeping: 494 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 71, file: sub091.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 72, file: sub092.txt
INFO:root:      keeping: 514 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 73, file: sub094.txt
INFO:root:      keeping: 478 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 74, file: sub095.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 75, file: sub096.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 76, file: sub097.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 77, file: sub098.txt
INFO:root:      keeping: 491 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 78, file: sub099.txt
INFO:root:      keeping: 488 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 79, file: sub100.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 80, file: sub101.txt
INFO:root:      keeping: 513 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 81, file: sub102.txt
INFO:root:      keeping: 503 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 82, file: sub103.txt
INFO:root:      keeping: 494 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:  [+] session: 83, file: sub104.txt
INFO:root:      keeping: 517 (time points)
INFO:root:      keeping: 554 (regions)

            0.0 => day_of_week_0    x.shape: (510, 554)  RSN.shape: (510, 12)
            1.0 => day_of_week_1    x.shape: (5893, 554)  RSN.shape: (5893, 12)
            2.0 => fast             x.shape: (20262, 554)  RSN.shape: (20262, 12)
            4.0 => fed              x.shape: (15576, 554)  RSN.shape: (15576, 12)

### Run Mapper across all sessions

In [2]:
# Run Mapper/DyNeuSR
results_fed = run_mapper(X_fed.T,df_roi_rsn,verbose=1,cover=km.Cover(bestres,overlap))
# Visualize DyNeuGraph
results_fed['dG'].visualize(path_html='results/fed_super_spatial_all.html', show=False, reset=True, static=False, PORT=8800)
# Run Mapper/DyNeuSR
results_fast = run_mapper(X_fast.T,df_roi_rsn,verbose=1,cover=km.Cover(bestres,overlap))
# Visualize DyNeuGraph
results_fast['dG'].visualize(path_html='results/fast_super_spatial_all.html', show=False, reset=True, static=False, PORT=8800)

dGfed = results_fed['dG']
dGfast = results_fast['dG']

KeplerMapper()
Mapping on data shaped (554, 15576) using lens shaped (554, 2)

Creating 400 hypercubes.

Created 385 edges and 183 nodes in 0:00:01.776984.

[Force Graph] http://localhost:8800/results/fed_super_spatial_all.html
KeplerMapper()
Mapping on data shaped (554, 20262) using lens shaped (554, 2)

Creating 400 hypercubes.

Created 372 edges and 186 nodes in 0:00:02.078381.

[Force Graph] http://localhost:8800/results/fast_super_spatial_all.html

### Estimate probabilities of edges between communities

We estimate this by calculating the number of edges between a node in community A and any node in community B, then dividing by the total number of possible edges (which is essentially the number of nodes in community B), and average across all nodes in community A to get the probability of an edge existing between A and B. This can be achieved by taking the ROI x ROI matrix, summing the values in the region that connects A to B (ignore B to A), and divide this sum by number of nodes in B * number of nodes in A. If community A and B are the same, then make sure to divide this sum by two first.

In [18]:
class nullSBM(object):
    def __init__(self):
        pass
    
    def __rsn_index_change(self,sorted_rsns):
        """
        Process sorted array of network labels, return an array of indexes where the label changes
        """
        index_array = []
        current_label = 'batman'
        for ind,label in enumerate(sorted_rsns):
            if label != current_label:
                current_label = label
                index_array.append(ind)
        # Add ending index
        index_array.append(len(sorted_rsns) - 1)
        return index_array

    def __calc_SBM_param(self,TCM):
        """
        Take an ROI x ROI matrix from a DyNeuSR and estimates probabilities of connections between communities
        """
        # Get sorting indices based on ROI -> RSN mapping
        rsnidx = np.argsort(roi2rsn_clean)
        # Sort ROI x ROI matrix in both dimensions
        A = TCM[rsnidx,:]
        A = A[:,rsnidx]
        # Get number of nodes in each community
        nodecount = collections.Counter(roi2rsn_clean[rsnidx])
        sizes = [nodecount[key] for key in sorted(nodecount.keys())]
        # Get the indices of the bounds between RSN regions in the matrix
        bounds = self.__rsn_index_change(roi2rsn_clean[rsnidx])
        # Create array to hold probabilities
        probs = np.zeros((len(majorRSNs),len(majorRSNs)))
        # Go through bounds twice, once for each dimension
        for comm1,b1 in enumerate(bounds[:-1]):
            for comm2,b2 in enumerate(bounds[:-1]):
                # End index of the region in matrix that belongs to this RSN
                nextb1 = bounds[comm1+1]
                nextb2 = bounds[comm2+1]
                # Sum the values in this region
                num_edges = np.sum(A[b1:nextb1,b2:nextb2])
                # Divide by 2 if same community
                if comm1 == comm2:
                    num_edges /= 2
                # Divide by number of nodes in community 1 * nodes in community 2
                p = num_edges / float(sizes[comm1] * sizes[comm2])
                # Add to appropriate locations in probs
                probs[comm1,comm2] = p

        return sizes, probs
    
    def __add_rsn_patches(self, ax, lenx, leny, boundaries, color_array, alpha_param = 1.0, offset = 1.0):
        """
        Plots rectangular patches vertically and horizontally for each network bounded by the indices
        provided using the colors provided
        """
        # Loop through boundaries
        for num,ind in enumerate(boundaries[:-1]):
            nextind = boundaries[num+1]
            hrect = patches.Rectangle((ind,ind), nextind-ind, nextind-ind,linewidth=1.5,edgecolor=color_array[num],facecolor='none',alpha=alpha_param)
            ax.add_patch(hrect)
            vrect = patches.Rectangle((ind,ind), nextind-ind, nextind-ind,linewidth=1.5,edgecolor=color_array[num],facecolor='none',alpha=alpha_param)
            ax.add_patch(vrect)
        
    def configure(self,sessions):
        """
        Calculate probabilities for each scan, use average probability to create one SBM model
        """
        P = []
        for sess_num,session in enumerate(sessions):
            print('Processing session %d out of %d...' % ((sess_num+1), len(sessions)))
            # Run Mapper
            results = run_mapper(session.X.T,df_roi_rsn,verbose=0,cover=km.Cover(bestres,overlap))
            # Get probs
            self.sizes,p = self.__calc_SBM_param(results['dG'].tcm_)
            # Append so we can get the mean
            P.append(p)

        self.probs = np.mean(P,axis=0)
        
    def run(self,num_itera=30):
        # Run SBM
        Anull = [nx.to_numpy_array(nx.stochastic_block_model(self.sizes,self.probs)) for i in range(num_itera)]
        Anull_mean = np.mean(Anull,axis=0)
        
        self.A = Anull_mean
        self.G_ = nx.stochastic_block_model(self.sizes,self.probs)

    def plot(self):
        
        rsnidx = np.argsort(roi2rsn_clean)
        rect_inds = self.__rsn_index_change(roi2rsn_clean[rsnidx])

        plt.close('all')
        plt.imshow(self.A,cmap='binary_r')
        ax = plt.gca()
        cmap = cm.get_cmap('tab20', 20)
        colors = cmap(np.linspace(0,1,20))

        self.__add_rsn_patches(ax,self.A.shape[1],self.A.shape[0],rect_inds,colors[:len(majorRSNs)],alpha_param=1.0,offset=2)

        plt.show()

### Run SBM

In [14]:
# Load all sessions, z-scored
sessions = load_scrubbed(n_sessions=-1, merge=False,
                     apply_tmask=True,apply_rmask=True,
                     rmask_kwds=dict(n=12,minor=False),zscore=True)

INFO:load_data:load_scrubbed(**{'n_sessions': -1, 'merge': False, 'apply_tmask': True, 'apply_rmask': True, 'rmask_kwds': {'n': 12, 'minor': False}, 'zscore': True})
INFO:load_data:Loading data...
INFO:root:  [+] session: 0, file: sub014.txt
INFO:root:      keeping: 505 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 1, file: sub015.txt
INFO:root:      keeping: 508 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 2, file: sub016.txt
INFO:root:      keeping: 508 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 3, file: sub017.txt
INFO:root:      keeping: 504 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 4, file: sub018.txt
INFO:root:      keeping: 508 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 5, file: sub019.txt
INFO:root:      keeping: 513 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 6, file: sub020.txt
INFO:root:      keeping: 446 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 7, file: sub021.txt
INFO:root:      keeping: 501 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 8, file: sub022.txt
INFO:root:      keeping: 511 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 9, file: sub023.txt
INFO:root:      keeping: 401 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 10, file: sub024.txt
INFO:root:      keeping: 494 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 11, file: sub025.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 12, file: sub026.txt
INFO:root:      keeping: 502 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 13, file: sub027.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 14, file: sub028.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 15, file: sub029.txt
INFO:root:      keeping: 500 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 16, file: sub030.txt
INFO:root:      keeping: 513 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 17, file: sub032.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 18, file: sub035.txt
INFO:root:      keeping: 497 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 19, file: sub036.txt
INFO:root:      keeping: 450 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 20, file: sub037.txt
INFO:root:      keeping: 503 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 21, file: sub038.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 22, file: sub039.txt
INFO:root:      keeping: 517 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 23, file: sub040.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 24, file: sub041.txt
INFO:root:      keeping: 499 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 25, file: sub042.txt
INFO:root:      keeping: 469 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 26, file: sub043.txt
INFO:root:      keeping: 514 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 27, file: sub044.txt
INFO:root:      keeping: 458 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 28, file: sub045.txt
INFO:root:      keeping: 499 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 29, file: sub046.txt
INFO:root:      keeping: 484 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 30, file: sub047.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 31, file: sub048.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 32, file: sub049.txt
INFO:root:      keeping: 475 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 33, file: sub050.txt
INFO:root:      keeping: 503 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 34, file: sub051.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 35, file: sub053.txt
INFO:root:      keeping: 493 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 36, file: sub054.txt
INFO:root:      keeping: 492 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 37, file: sub056.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 38, file: sub057.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 39, file: sub058.txt
INFO:root:      keeping: 511 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 40, file: sub059.txt
INFO:root:      keeping: 511 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 41, file: sub060.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 42, file: sub061.txt
INFO:root:      keeping: 512 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 43, file: sub062.txt
INFO:root:      keeping: 504 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 44, file: sub063.txt
INFO:root:      keeping: 512 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 45, file: sub064.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 46, file: sub065.txt
INFO:root:      keeping: 514 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 47, file: sub066.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 48, file: sub067.txt
INFO:root:      keeping: 499 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 49, file: sub068.txt
INFO:root:      keeping: 507 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 50, file: sub069.txt
INFO:root:      keeping: 497 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True

INFO:root:  [+] session: 51, file: sub070.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 52, file: sub071.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 53, file: sub072.txt
INFO:root:      keeping: 513 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 54, file: sub073.txt
INFO:root:      keeping: 507 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 55, file: sub074.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 56, file: sub075.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 57, file: sub076.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 58, file: sub077.txt
INFO:root:      keeping: 508 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 59, file: sub078.txt
INFO:root:      keeping: 503 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 60, file: sub079.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 61, file: sub080.txt
INFO:root:      keeping: 514 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 62, file: sub081.txt
INFO:root:      keeping: 488 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 63, file: sub082.txt
INFO:root:      keeping: 502 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 64, file: sub083.txt
INFO:root:      keeping: 482 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 65, file: sub084.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 66, file: sub085.txt
INFO:root:      keeping: 518 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 67, file: sub086.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 68, file: sub087.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 69, file: sub088.txt
INFO:root:      keeping: 516 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 70, file: sub089.txt
INFO:root:      keeping: 494 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 71, file: sub091.txt
INFO:root:      keeping: 515 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 72, file: sub092.txt
INFO:root:      keeping: 514 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 73, file: sub094.txt
INFO:root:      keeping: 478 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 74, file: sub095.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 75, file: sub096.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 76, file: sub097.txt
INFO:root:      keeping: 510 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 77, file: sub098.txt
INFO:root:      keeping: 491 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 78, file: sub099.txt
INFO:root:      keeping: 488 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 79, file: sub100.txt
INFO:root:      keeping: 506 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 80, file: sub101.txt
INFO:root:      keeping: 513 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 81, file: sub102.txt
INFO:root:      keeping: 503 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 82, file: sub103.txt
INFO:root:      keeping: 494 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True
INFO:root:  [+] session: 83, file: sub104.txt
INFO:root:      keeping: 517 (time points)
INFO:root:      keeping: 554 (regions)
INFO:root:      zscore: True

In [19]:
sbm = nullSBM()
sbm.configure(sessions)

Processing session 1 out of 84...

Processing session 2 out of 84...

Processing session 3 out of 84...

Processing session 4 out of 84...

Processing session 5 out of 84...

Processing session 6 out of 84...

Processing session 7 out of 84...

Processing session 8 out of 84...

Processing session 9 out of 84...

Processing session 10 out of 84...

Processing session 11 out of 84...

Processing session 12 out of 84...

Processing session 13 out of 84...

Processing session 14 out of 84...

Processing session 15 out of 84...

Processing session 16 out of 84...

Processing session 17 out of 84...

Processing session 18 out of 84...

Processing session 19 out of 84...

Processing session 20 out of 84...

Processing session 21 out of 84...

Processing session 22 out of 84...

Processing session 23 out of 84...

Processing session 24 out of 84...

Processing session 25 out of 84...

Processing session 26 out of 84...

Processing session 27 out of 84...

Processing session 28 out of 84...

Processing session 29 out of 84...

Processing session 30 out of 84...

Processing session 31 out of 84...

Processing session 32 out of 84...

Processing session 33 out of 84...

Processing session 34 out of 84...

Processing session 35 out of 84...

Processing session 36 out of 84...

Processing session 37 out of 84...

Processing session 38 out of 84...

Processing session 39 out of 84...

Processing session 40 out of 84...

Processing session 41 out of 84...

Processing session 42 out of 84...

Processing session 43 out of 84...

Processing session 44 out of 84...

Processing session 45 out of 84...

Processing session 46 out of 84...

Processing session 47 out of 84...

Processing session 48 out of 84...

Processing session 49 out of 84...

Processing session 50 out of 84...

Processing session 51 out of 84...

Processing session 52 out of 84...

Processing session 53 out of 84...

Processing session 54 out of 84...

Processing session 55 out of 84...

Processing session 56 out of 84...

Processing session 57 out of 84...

Processing session 58 out of 84...

Processing session 59 out of 84...

Processing session 60 out of 84...

Processing session 61 out of 84...

Processing session 62 out of 84...

Processing session 63 out of 84...

Processing session 64 out of 84...

Processing session 65 out of 84...

Processing session 66 out of 84...

Processing session 67 out of 84...

Processing session 68 out of 84...

Processing session 69 out of 84...

Processing session 70 out of 84...

Processing session 71 out of 84...

Processing session 72 out of 84...

Processing session 73 out of 84...

Processing session 74 out of 84...

Processing session 75 out of 84...

Processing session 76 out of 84...

Processing session 77 out of 84...

Processing session 78 out of 84...

Processing session 79 out of 84...

Processing session 80 out of 84...

Processing session 81 out of 84...

Processing session 82 out of 84...

Processing session 83 out of 84...

Processing session 84 out of 84...

In [21]:
sbm.run()
sbm.plot()